#left {
	width: 200px;
	height: 1000px;
	float: left;
	background-color: #99ADEB;
	border: black 1px solid;
}
#div1 {
	margin-top: 5;
	margin-left: 5;
	width: 190px;
	height: 15px;
	background-color: #00248F;
	text-align: center;
	float: center;
	color: white;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 2px;
}
#div2 {
	margin-left: 5 ;
	margin-right: 5;
	width: 186px;
	height: 100px;
	border: solid 1px black;
	border-radius: 2px;
	color: blue;
	font-weight: bold;
	background-color: #E6EBFA;
	padding: 2px;
}
#right {
	height: 1000px;
	width: 575px;
	float: right;
	margin-right: 355;
	margin-top: 5 ;
}
#img1 {
	width: 570px;
}
.text1 {
	width: 284px;
	height: 128px;
	margin-bottom: 25;
	margin-right: 2;
	float: left;
	display: inline-block;
}
.li1 {
	color: blue;
}
.title {
	width: 284px;
	height: 28px;
	color: blue;
	text-align: center;
	background-color: #E6EBFA;
	border: 1px black solid;
	border-bottom: 1px blue dashed;
}
.content {
	width: 264px;
	height: 100px;
	padding: 10px;
	background-color: white;
	border: solid black 1px;
	border-top: dashed 1px blue;
	font-size: 10px;
}
.div3 {
	width: 284px;
	height: 100px;
	float: left;
	display: inline;

}
.cb {
	clear: both;
}
.div4 {
	width: 284px;
	height: 1000px;
	display: inline;
	float: right;

}
.text2 {
	width: 284px;
	height: 128px;
	margin-bottom: 25;
	margin-right: 2;
	float: right;
	display: inline-block;
}
#top {
	height: 50px;
	width: 1270px;
	display: block;
}
#topl {
	height: 40px;
	width: 1026px;
	float: right;
	background-color: #2B407B;
	display: block;
	color: white;
}
#img1 {
	float: left;
}
#img2 {
	float: left;
}
#bar {
	float: left;
}
.blue {
	background-color: #456ADA;
	border: 1px solid black;
}
#home {
	background-color: #484848;
	color: #919191;
	font-weight: bold;
	border: 4px solid #484848;
	border-radius: 3px;
}
#needspace {
	color: #2B407B;
}
#register {
	background-color: #484848;
	color: white;
	font-weight: bold;
	border: 4px solid #484848;
	border-radius: 3px;
}
#ineedspace2 {
	color: white;
}
#login {
	background-color: green;
	color: white;
	font-weight: bold;
	border: 4px solid green;
	border-radius: 3px;
	margin: 0 0;
}